<mat-form-field>

  <mat-label>Filtro</mat-label>

  <input matInput (keyup)="applyFilter($event)" placeholder="5" #input>

</mat-form-field>



<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>


    <div matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <div *ngIf="column!='Acciones'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
        <td mat-cell *matCellDef="let element">{{element[column]}}</td>
      </div>
      <div *ngIf="column=='Acciones'">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td mat-cell *matCellDef="let element">
          <a class="opcion" (click)="editarRegistro()"><i class="fa-solid fa-pen-to-square"></i></a>
          <a class="opcion" id="opcion1" (click)="eliminarRegistro()"><i class="fa-solid fa-delete-left"></i></a>
        </td>
      </div>

    </div>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    <tr class="mat-row" *matNoDataRow>

      <td class="mat-cell" colspan="4">No se encontraton datos "{{input.value}}"</td>

    </tr>

  </table>

  <div class="boton">

    <div>
      <button mat-raised-button color="primary" (click)="openDialog()">Registrar Nuevo Material</button>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>