table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}
.opcion{
  padding: 5px;
  cursor: pointer;
}
.boton{
  display: grid;
    grid: repeat(1, 100%) / auto-flow 40%;
    margin-bottom: 1%;
    background-color: rgba(66,67,67,255);
    padding: 2%;

}
.button{
  background-color: rgba(195,25,91,255)

}
#opcion1{
  color: rgb(202, 51, 51);;

  }
#Center{
  margin: auto;
}
#opcion2{
  color: rgba(26, 124, 236, 0.801);

  }
  #tabla{
    padding: 2%;
  }
