<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <div class="formulario">
    <mat-card class="Formtrabajador-card">
      <mat-card-header>
        <mat-card-title class="titu">Material</mat-card-title>
        <mat-card-subtitle>Datos</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="principal">

        <mat-form-field class="full-width">
          <input matInput placeholder="Codigo" formControlName="CodMat">
          <mat-error *ngIf="materialForm.controls['CodMat'].hasError('required')"><Strong>El codigo es
              requerido</Strong></mat-error>
          <mat-error *ngIf="materialForm.controls['CodMat'].hasError('maxlength')"><Strong>Maximo 11
              caracteres</Strong></mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre" formControlName="NomMat">
          <mat-error *ngIf="materialForm.controls['NomMat'].hasError('required')"><Strong>El nombre
              esrequerido</Strong></mat-error>
          <mat-error *ngIf="materialForm.controls['NomMat'].hasError('maxlength')"><Strong>Maximo 25
              caracteres</Strong></mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Tipo" formControlName="TipoMat">
          <mat-error *ngIf="materialForm.controls['TipoMat'].hasError('required')"><Strong>El tipo es
              requerido</Strong></mat-error>
          <mat-error *ngIf="materialForm.controls['TipoMat'].hasError('maxlength')"><Strong>Maximo 25
              caracteres</Strong></mat-error>
        </mat-form-field>

        <div class="div1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" formControlName="PrecioMat">
            <mat-error *ngIf="materialForm.controls['PrecioMat'].hasError('required')"><Strong>El precio es
                requerido</Strong></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Unidades" formControlName="NumUnidades">
            <mat-error *ngIf="materialForm.controls['NumUnidades'].hasError('required')"><Strong>Las unidades son
                requeridas</Strong></mat-error>
          </mat-form-field>
        </div>

        <div class="div2">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Fecha entrada" formControlName="FechaEntrada">
            <mat-error *ngIf="materialForm.controls['FechaEntrada'].hasError('required')"><Strong>La fecha es
                requerida</Strong></mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Fecha salida" formControlName="FechaSalida">
            <mat-error *ngIf="materialForm.controls['FechaSalida'].hasError('required')"><Strong>La fecha es
                requerida</Strong></mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Descripción" formControlName="DesMat" cols="10" rows="2"></textarea>
          <mat-error *ngIf="materialForm.controls['DesMat'].hasError('required')"><Strong>La descripción es
              requerida</Strong></mat-error>
          <mat-error *ngIf="materialForm.controls['DesMat'].hasError('maxlength')"><Strong>Maximo 25
              caracteres</Strong></mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="segundo">
        <button mat-button class="button" type="submit">Enviar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>